body {
  text-align: center;
  background-color: #5c7f86;
   background-image: linear-gradient(to top, #6499E9, #5c7f86);
}

h1 {
  font-size: 5rem;
  color: #dbedf3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 hsla(234, 14%, 70%, 0.13);
}

footer {
  color: #dbedf3;
  font-family: sans-serif;
}

.set {
  margin: 10% auto;
}

.w {
  background-image: url("Assets/images/tom1.png");
}
.a {
  background-image: url("Assets/images/tom2.png");
}
.s {
  background-image: url("Assets/images/tom3.png");
}
.d {
  background-image: url("Assets/images/tom4.png");
}
.j {
  background-image: url("Assets/images/snare.png");
}
.k {
  background-image: url("Assets/images/crash.png");
}
.l {
  background-image: url("Assets/images/kick.png");
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.drum {
    cursor: pointer;

  outline: none;
  border: 6px solid #b5a9c0c3;
  font-size: 5rem;
  font-family: "Arvo", cursive;
  line-height: 2;
  font-weight: 800;
  color: #2b04da;
  text-shadow: 3px 0 #dbedf3;
  height: 150px;
  width: 150px;
  border-radius: 60px;
  text-align: center;
  margin: 10px;
  background-color: white;
}